.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.Label {
  font-weight: bold;
  display: block;
  margin: 8px;
}

.InputElement {
  outline: none;
  background-color: white;
  font: inherit;
  border: 1px solid #ccc;
  width: 100%;
  display: block;
  padding: 6px 10px;
  box-sizing: border-box;
}

.InputElement:focus {
  background-color: #ccc;
  outline: none;
}

.Invalid {
  border: 1px solid red;
  background-color: #ffc6c0;
}

.ValidationError {
  color: red;
  margin: 0;
  font-size: 12px;
  padding: 0;
}
