.NavigationItems {
  margin: 30px 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  height: auto;
  width: 100%;
}

@media (min-width: 500px) {
  .NavigationItems {
    margin: 0;
    flex-flow: row;
    height: 100%;
    width: auto;
  }
}
